{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Sentiment Analysis Tool</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{% static "/imgs/smile.png" %}"
                 width="30"
                 height="30"
                 class="d-inline-block align-top" alt="">
            SentiTool
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/add/">Add new sample</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/label/">Label a sample</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/classify/">Classify</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">Sentiment Analysis Tool</h1>
            <hr class="mt-0 mb-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>