{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <h2> Esempio di Web API per la classificazione del sentiment</h2>
    </div>
    <div class="row">
        <p> Il classificatore è un SVM addestrato sul dataset pubblico:
            <a href="http://sag.art.uniroma2.it/absita/">
                absita
            </a>. Questo dataset contiene recensioni in circa 6000 recensioni di stanze di hotel in
            italiano estratte da <a href="https://booking.com">Booking.com</a>.
        </p>
    </div>
{% endblock %}